.vscode/settings.json
azureVWAN/.terraform.lock.hcl
azureVWAN/.terraform/terraform.tfstate
azureVWAN/.terraform/modules/modules.json
azureVWAN/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.2/windows_amd64/terraform-provider-azurerm_v3.0.2_x5.exe
azureVWAN/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/windows_amd64/terraform-provider-random_v3.4.3_x5.exe
purview-eastus2/.terraform.lock.hcl
purview-eastus2/terraform.tfstate
purview-eastus2/.terraform/terraform.tfstate
purview-eastus2/.terraform/modules/modules.json
purview-eastus2/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.24.0/windows_amd64/terraform-provider-azurerm_v3.24.0_x5.exe
purview-eastus2/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/windows_amd64/terraform-provider-random_v3.4.3_x5.exe
service-bus/.terraform.lock.hcl
service-bus/terraform.tfstate
service-bus/terraform.tfstate.backup
service-bus/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.2/windows_amd64/terraform-provider-azurerm_v3.0.2_x5.exe
service-bus/.terraform/providers/registry.terraform.io/hashicorp/random/3.4.3/windows_amd64/terraform-provider-random_v3.4.3_x5.exe
service-bus/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/windows_amd64/terraform-provider-template_v2.2.0_x4.exe
